h1 {
    margin-bottom: 15px;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    text-decoration: underline;
    background-color: black;
}
h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}
h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    font-family: 'Mystery Quest', cursive;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
ul {
    font-family: 'Mystery Quest', cursive;
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    list-style-position: inside;
}
a {
    font-size: initial;
}
a:hover {
    background-color: blueviolet;
}
a:focus {
    background-color: darkgreen;
}
a:active {
    background-color: darkslateblue;
}